/** @format */

.device-control-widget-container {
    display: flex;
    width: 100%;
    padding: 10px 10px 5px;
}

.gp-device-list .refresh-panel {
    color: #1776BF;
}

.header-item {
    flex-grow: 1;
}

.refresh-panel {
    float: right;
}

.device-list-table {
    width: 100%;
    background-color: var(--table-background, var(--component-background, var(--root-component-background, #fff)));
    table-layout: fixed;
}

.device-list-table td.mat-cell,
.device-list-table td.mat-footer-cell,
.device-list-table th.mat-header-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    width: 100px;
    padding-right: 10px;
    white-space: normal;

    color: var(--component-color, var(--root-component-color, var(--gray-text, #000)));
    border-bottom-color: var(--table-border, var(--component-border, var(--root-component-border, rgba(0, 0, 0, 0.1))));
}

.btn-group {
    padding-bottom: 45px;
}

.small-icon {
    width: 5em;
    height: 5em;
}

img.small-icon.withhover:hover {
    background: rgb(255, 255, 255);
}

.grid-container {
    display: inline-flex;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    text-align-last: justify;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-flow: column;
    padding: 0.5em;
    text-align: center;
    align-items: center;
}

.grid-element {
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 0.5em;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.padinline {
    padding: 0.5em;
    vertical-align: bottom;
}

.button-row {
    display: flex;
    width: 100%;
    flex-flow: row;
    padding: 0.25em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/**
 config section
**/

.configSection {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin: 0.25em;
    padding: 0.25em;
}

.row {
    padding: 0.5em;
}

.col-layout {
    display: inline-flex;
    align-content: baseline;
    align-items: center;
}

.help-icon {
    margin-left: 5px;
}

.help-icon>img {
    max-width: 20px;
    max-height: 20px;
}

.label-with-help {
    display: inline;
}

.preview {
    width: 5em;
    height: 5em;
}

img.imgctrl {
    width: 50px;
    height: 50px;
}

img.withhover:hover {
    background: gray;
}

.op-container {
    display: inline-flex;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}

.op-item {
    display: flex;
    flex-flow: column;
    padding: 0.5em;
}

.mdlstyled-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 85%;
    color: #f6e6e6;
}

.mdlstyled-input:focus {
    outline: none;
}

.device-list-switch-toggle {
    line-height: 1;
    padding-left: 10px;
    display: inline-block;
}

.device-card {
    transform-style: preserve-3d;
    height: 260px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    margin: 20px;
    max-width: 300px;
    width: 220px;
    transition: all 1s linear;
}

.device-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.device-heading {
    font-size: 13px;
    /*padding-top: 10px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    color: var(--card-color, #000);
}


.inputTheme {
    color: var(--card-color, #000);
}

.inputTheme:focus {
    color: #000;
}

.criticalAlerts {
    background-color: #e0000e;
}

.majorAlerts {
    background-color: #e66400;
}

.minorAlerts {
    background-color: #ff801f;
}

.warningAlerts {
    background-color: #1c8ce3;
}

.criticalAlerts2 {
    color: #e0000e;
}

.majorAlerts2 {
    color: #e66400;
}

.minorAlerts2 {
    color: #ff801f;
}

.warningAlerts2 {
    color: #1c8ce3;
}

.majorAlert {
    color: #e66400;
}

.selectDropdown .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: var(--brand-dark);
}



.header-mode {
    color: var(--brand-dark);
}
.bg-gray-lighter 
{
    background-color: var(--header-color)!important;

}



